
@{
    ViewBag.Title = "Index";
}

<h2>Homepage - AF SDK example</h2>
<br />
<br />

<h3 style="text-align:center">@Html.ActionLink("TSOPs Controller", "Index", "TSOps")</h3>
<h3 style="text-align:center">@Html.ActionLink("Manual Data Entry", "Index", "DataEntry")</h3>
<h3 style="text-align:center">@Html.ActionLink("Tag creator", "Index", "TagCreator")</h3>

<br />

@*<ul>
    <li>@Html.ActionLink("TSOPs Controller", "Index", "TSOps")</li>
    <li>@Html.ActionLink("Manual Data Entry", "Index", "DataEntry")</li>
    <li>@Html.ActionLink("Tag creator", "Index", "TagCreator")</li>
</ul>
*@
