
@using TSOps.Models
@model TagModel

@using (Html.BeginForm("GetTagInfo", "DataEntry", FormMethod.Post))
{
    <span>Enter an existing tagname: </span> @Html.TextBoxFor(m => m.tagname)
    <br />

    <span> (Optional) Send a new snapshot for the specified tag: </span>@Html.TextBoxFor(m => m.snapshot)

    <input id="Submit" type="submit" value="submit" />
}

<p>@ViewBag.Message3</p>

@using (Html.BeginForm("CreateNewTag", "DataEntry", FormMethod.Post))
{
    <span>Create a new tag. New tag name: </span> @Html.TextBoxFor(m => m.newtag)
    <br />

    <input id="Submit" type="submit" value="Create" />
}

<p>@ViewBag.Message</p>

